.navBar {
    position: sticky;
    top: 0;
    font-size: smaller;
}

.navBar a {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px;
    padding: 0.25rem;
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
}

.footer a {
    text-decoration: none;
	color: black;
	padding: 0.25rem;
	margin-top: 0.25rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
    .navBar {
        display:flex;
        align-items: center;
        flex-direction: column;
        font-size: large;
    }
    .navBar a {
        top: 2rem;
        right: 6rem;
    }

}
