<form class="modal-form" hx-post="/app/modal/{{.Id}}" hx-target="body">
	<h1>{{.Name}}</h1>
	<label class="modal-item" for="weight">Weight</label>
	<input class="modal-item" type="text" id="weight" name="weight"/>
	<label class="modal-item" for="sets">Sets</label>
	<input class="modal-item" type="text" id="sets" name="sets"/>
	<label class="modal-item" for="reps">Reps</label>
	<input class="modal-item" type="text" id="reps" name="reps"/>
	<div class="modal-item">
		<input type="submit" value="submit" />
		<button hx-get="/app" hx-target="body">Close</button> 
	</div>
</form>
