.main {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.mainitems {
	display:flex;
	justify-content: space-between;
	width:50%;
	align-items: center;
}

.mainitems a {
	text-decoration: none;
	color: black;
	border: 2px solid;
	padding: 0.25rem;
}